<header>
    <div class="header-inner">
        <div class="logo-wrapper">
            <a href="/KR/index"><img src="img/KR.svg" alt="" class="logo-img long"></a>
            <a href="/KR/index"><img src="img/KR_R.svg" alt="" class="logo-img short"></a>    
        </div>
        <nav>
            <ul class="nav-list">
                <li><a href="/KR/passenger">旅客服务</a></li>
                <li><a href="/KR/company">集团信息</a></li>
                <li><button onclick="openMenu()"><img src="img/menu.svg" alt="" id="menu-icon" class="menu-icon" style=""></button></li>
            </ul>
        </nav>
    </div>
    <div class="menu" id="menu">
        <ul class="menu-nav">
            <li><a href="/KR/passenger">旅客服务</a></li>
            <li><a href="/KR/company">集团信息</a></li>
        </ul>
    </div>
</header>

<script>
    function openMenu() {
        var x = document.getElementById("menu");
        if (x.className === "menu") {
          x.className += " show-menu";
        } else {
          x.className = "menu";
        }
    }
</script> 